<h3><%= 'Edit Appointment' %></h3>

<%= render 'form' %>



<%= link_to 'Confirm', confirm_url(@appointment),class: 'btn btn-mini btn-primary' %>
<%= link_to 'Cancel', cancel_url(@appointment),class: 'btn btn-mini btn-danger' %>
<br />

<%= link_to 'Back', appointments_path,class: 'btn btn-mini btn-success' %>